* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-left: 50px;

}

.navbar {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 20px;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 10px;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;

}

li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 15px;
    gap: 20px;
    padding: 14px 20px;
    align-items: center;
    color: #0b3c40;
    transition: 0.2s ease;
    padding: 20px 10px 20px;
    letter-spacing: 2px;
}

li a:hover {
    color: rgb(250, 153, 97);
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    padding: 15px 14px;
    background-color: #fb741b;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: 10px;
    justify-content: flex-end;
    margin-right: 70px;
}

button:hover {
    background-color: rgb(6, 51, 6);
}

.heading {
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
    color: #0b3c40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.gloom {
    color: #fb741b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::selection {
    background-color: #0b3c40;
    color: white;
}

.paragraph {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 20px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 0px 10px;
    color: #0b3c40;
}