* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    width: 70px;
    height: 50px;
    cursor: pointer;
    margin-left: 0;
    padding: 1px;
}

.navbar {
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
    flex-direction: row;
}

.jrnavbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    width: 100%;
}

.foodpanda {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    font-size: 30px;

}

.foodpanda p {
    font-size: 20px;
    color: #e21b70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.location {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 20px;
    padding: 8px 20px;
    margin-left: 10%;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

.location:hover {
    background-color: #f0f0f0;
}

.location p {
    font-size: 16px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 120px;
}

.log {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 16px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-left: 70px;
}

.login {
    padding: 5px 20px;
    border: 1px solid #2e3138;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.login:hover {
    transform: scale(1.05);
}

.signup {
    padding: 5px 20px;
    border: 1px solid #2e3138;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: #e21b70;
    color: white;
    cursor: pointer;
}

.signup:hover {
    transform: scale(1.05);
}

.global {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.global:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.global i {
    font-size: 20px;
    color: #e21b70;
}

.global p {
    font-size: 16px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.global .globe {
    color: #2e3138;

}

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
    width: 50px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.heart:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}

.disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0.5;
    margin-left: 20px;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.disabled:hover {
    cursor: not-allowed;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-color: #f0f0f0;
}

.heading-of-panda {
    display: flex;
    margin-left: 20px;
    /* width: 50%; */

    box-sizing: border-box;
    font-size: 20px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.panda-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

.panda-pic img {
    width: 100%;
    height: 100%;
}

.heading-of-panda,
.panda-pic {
    flex: 1;
}

.link {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-left: 20px;
    margin-top: 20px;
}

.link a {
    text-decoration: none;
    font-size: 20px;
    color: #2e3138;
}

.link p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link i {
    font-size: 10px;
}

.mobileapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 200px;
    /* margin-left: 20px; */
    margin-top: 20px;
    background-color: #ffebeb;
}

.scanner {
    display: flex;
    align-items: center;
    width: 300px;
    height: 250px;
    justify-content: center;
    /* background-color: black; */
    cursor: default;
}

.scanner img {
    width: 200px;
    height: 150px;
    cursor: default;
}

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.mobile h2 {
    font-size: 30px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.paragraph {
    font-size: 16px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.colored-text {
    font-size: 30px;
    color: #e21b70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.appstore,
.playstore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.appstore:hover,
.playstore:hover {
    transform: scale(1.05);
}

.panda02 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
    cursor: default;
}

.panda02 img {
    width: 200px;
    height: 150px;
    cursor: default;
}

.mobile,
.panda02 {
    flex: 1;
}

.heading00 {
    font-size: 30px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.heading00 h1 {
    font-size: 30px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11,
.grid-item-12,
.grid-item-13,
.grid-item-14,
.grid-item-15,
.grid-item-16,
.grid-item-17,
.grid-item-18,
.grid-item-19,
.grid-item-20,
.grid-item-21 {
    display: flex;
    align-items: center;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.grid-item-1 img,
.grid-item-2 img,
.grid-item-3 img,
.grid-item-4 img,
.grid-item-5 img,
.grid-item-6 img,
.grid-item-7 img,
.grid-item-8 img,
.grid-item-9 img,
.grid-item-10 img,
.grid-item-11 img,
.grid-item-12 img,
.grid-item-13 img,
.grid-item-14 img,
.grid-item-15 img,
.grid-item-16 img,
.grid-item-17 img,
.grid-item-18 img,
.grid-item-19 img,
.grid-item-20 img,
.grid-item-21 img {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.2s ease-in-out;

}

.grid-item-1 img:hover,
.grid-item-2 img:hover,
.grid-item-3 img:hover,
.grid-item-4 img:hover,
.grid-item-5 img:hover,
.grid-item-6 img:hover,
.grid-item-7 img:hover,
.grid-item-8 img:hover,
.grid-item-9 img:hover,
.grid-item-10 img:hover,
.grid-item-11 img:hover,
.grid-item-12 img:hover,
.grid-item-13 img:hover,
.grid-item-14 img:hover,
.grid-item-15 img:hover,
.grid-item-16 img:hover,
.grid-item-17 img:hover,
.grid-item-18 img:hover,
.grid-item-19 img:hover,
.grid-item-20 img:hover,
.grid-item-21 img:hover {
    transform: scale(1.05);
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8,
.text9,
.text10,
.text11,
.text12,
.text13,
.text14,
.text15,
.text16,
.text17,
.text18,
.text19,
.text20,
.text21,
.fastfood {
    font-size: 20px;
    color: #2e3138;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
}

.text1 p,
.text2 p,
.text3 p,
.text4 p,
.text5 p,
.text6 p,
.text7 p,
.text8 p,
.text9 p,
.text10 p,
.text11 p,
.text12 p,
.text13 p,
.text14 p,
.text15 p,
.text16 p,
.text17 p,
.text18 p,
.text19 p,
.text20 p,
.text21 p,
.fastfood p {
    width: auto;
    margin-left: 10px;
}

.label1,
.label2,
.label3,
.label4,
.label5,
.label6,
.label7,
.label8,
.label9,
.label10,
.label11,
.label12,
.label13,
.label14,
.label15,
.label16,
.label17,
.label18,
.label19,
.label20,
.label21 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 4px 2px 2px;
}

.label1 p,
.label2 p,
.label3 p,
.label4 p,
.label5 p,
.label6 p,
.label7 p,
.label8 p,
.label9 p,
.label10 p,
.label11 p,
.label12 p,
.label13 p,
.label14 p,
.label15 p,
.label16 p,
.label17 p,
.label18 p,
.label19 p,
.label20 p,
.label21 p {
    border: 1px solid;
    font-size: 10px;
    border-radius: 30px;
    background-color: #ffdddd;
    color: #c21760;
}