* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

img {
    width: 70px;
    height: 50px;
    cursor: pointer;
    margin-left: 30px;
    padding: 5px;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 20px;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
    background-color: aqua;
    flex-direction: row;
}
.foodpanda {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    font-size: 30px;
    
}
.foodpanda p {
    font-size: 20px;
    color: rgb(240, 32, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 20px;
    padding: 8px 16px;
}